<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/dashboard">Red Hawk</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/dashboard">
                    <span data-feather="home"></span>
                    Dashboard
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/targets">
                    <span data-feather="target"></span>
                    Targets
                  </a>
                </li>
                <!--
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="crosshair"></span>
                    Escáneres
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="users"></span>
                    Osint
                  </a>
                </li>
                -->
                <li class="nav-item">
                  <a class="nav-link" href="/reports">
                    <span data-feather="bar-chart-2"></span>
                    Reports
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/developer">
                    <span data-feather="info"></span>
                    Developer
                  </a>
                </li>
          </ul>
          <a href="/logout"type="nav-link" class="btn btn-sm btn-outline-secondary">
              <span data-feather="logout"></span>
              Log out
          </a>
        </div>
      </div>
    </nav>
  </header>